@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




p {
  line-height: 1.6;
  margin-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #f5f5f5;
  padding: 4px 6px;
  border-radius: 4px;
}

.main-container{
  flex-grow: 1;
  overflow: scroll;
  background-color: #FAFAFA;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
}

img {
  max-width: 100%;
}

.logo-sideBar {
  display: flex;
  width: 200px;
  margin-left: -35px;
}

::-webkit-scrollbar {
  display: none;
}

.logout-section {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.logout-icon {
  width: 24px;
  margin-right: 10px;
}

.logout-section:hover .logout-icon {
  filter: brightness(0.8);
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-auth {
  width: 100%;
  border-radius: 30px;
  background: #f75656f7;
  margin-top: 1.5rem;
  color: white;
}

.close-button, .skip-button, .advance-button {
  background: none;
  border: none;
  color: #7f7f7f;
  font-size: 28px;
  cursor: pointer;
}

/* 
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-main {
  min-height: 85vh;
}

.title {
  text-align: center;
  padding: 2rem 0;
  gap: .5rem;
}

.title>h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.title>span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: lighter;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 0 2rem;
  width: 100%;
}

.layout-cards {
  border: 2px solid #ffffff8c;
  border-radius: 5px;
  transition: all .3s linear;
}

.layout-cards>p {
  border-radius: 5px;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
}


.layout-dragging {
  background: #ffffff17;
  border: 2px dashed #ffffff8c;
}

.card-container {
  margin: 1rem 1rem 0 1rem;
  background-color: slateblue;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  animation: fadeIn .3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.card-container>p {
  font-weight: bold;
  font-size: 1.5rem;
}


@media screen and (max-width: 800px) {


  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .layout-cards {
    overflow-y: scroll;
    height: 250px;
    min-height: 150px;
    max-height: 250px;
  }
} */